*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Shrikhand";
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.material-icons {
  font-family: "Material Icons", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.logo-title {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1.07em;
}

body {
  overflow-x: hidden;
  width: 100vw;
  margin: auto;
}

@media only screen and (min-width: 1800px) {
  body {
    width: 1800px;
  }
}
main {
  display: flex;
  flex-direction: column;
}

.header {
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  box-shadow: 0 15px 10px -15px rgb(207, 205, 207);
}

.header h1 {
  margin-top: 0.8rem;
}

@media only screen and (max-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    background-color: white;
  }
}
.header-menu {
  width: 100%;
  box-shadow: none;
}

.header-menu h1 {
  font-family: "Shrikhand", cursive;
  flex: 3;
  margin-right: 1.5rem;
}

.header-menu form {
  flex: 1;
  text-align: left;
  margin-left: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .header-menu h1 {
    text-align: center;
    padding-right: 1.58rem;
  }
  .header-menu form {
    flex: 0;
  }
}
.header-menu button {
  background-color: white;
  font-size: 22px;
  border: none;
  margin-top: 0.8rem;
  cursor: pointer;
}

.btn-search {
  width: 220px;
  height: 6vh;
  border-radius: 30px;
  border: none;
  font-size: 1em;
  color: white;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0 7px 11px 1px rgb(207, 205, 207);
  -webkit-box-shadow: 0 7px 11px 1px rgb(207, 205, 207);
  -moz-box-shadow: 0 7px 11px 1px rgb(207, 205, 207);
  transition: 0.5s ease-in-out;
}

a {
  font-family: "Roboto";
  color: white;
}

.btn-search:hover {
  cursor: pointer;
  filter: brightness(1.5);
  box-shadow: 0 7px 11px 2px rgb(147, 146, 146);
}

@media only screen and (min-width: 768px) {
  .btn-search {
    height: 6vh;
  }
}
@media only screen and (min-width: 1024px) {
  .btn-search {
    border-radius: 30px;
  }
}
.btn-fct {
  width: 85%;
  height: 18%;
  margin-left: 3%;
  background-color: #f5f5f5;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-top: 6%;
  box-shadow: 0 7px 11px 1px rgb(207, 205, 207);
  -webkit-box-shadow: 0 7px 11px 1px rgb(207, 205, 207);
  -moz-box-shadow: 0 7px 11px 1px rgb(207, 205, 207);
  position: relative;
  transition: 0.3s ease-in-out;
}

.btn-fct div {
  position: absolute;
  left: -1rem;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
}

.btn-fct i {
  color: grey;
  font-size: 18px;
  position: absolute;
  left: 10%;
}

.btn-fct p {
  text-align: center;
}

.btn-fct:hover {
  background-color: #f2eafb;
}

.btn-fct:hover i {
  color: #9356dc;
}

@media only screen and (min-width: 768px) {
  .btn-fct {
    width: 55%;
    margin: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .btn-fct {
    width: 40%;
  }
}
@media only screen and (min-width: 1440px) {
  .btn-fct {
    height: 25%;
    width: 30%;
  }
}
.resto-card__heart .full-heart {
  opacity: 0;
  background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 10%;
  right: 8%;
  transition: 1s ease-out;
}

.resto-card__heart .empty-heart {
  position: absolute;
  bottom: 10%;
  right: 8%;
  transition: 0.5s ease-in-out;
}

.resto-card__heart:hover {
  cursor: pointer;
}

.resto-card__heart:hover .empty-heart {
  opacity: 0;
}

.resto-card__heart:hover .full-heart {
  opacity: 100%;
}

.resto-card__heart.menu__heart .full-heart,
.resto-card__heart.menu__heart .empty-heart {
  font-size: 29px;
  right: 1.5em;
}

@media only screen and (max-width: 374px) {
  .resto-card__heart.menu__heart .full-heart,
.resto-card__heart.menu__heart .empty-heart {
    font-size: 25px;
    right: 3%;
  }
}
@media only screen and (min-width: 768px) {
  .resto-card__heart.menu__heart .full-heart,
.resto-card__heart.menu__heart .empty-heart {
    right: 22%;
  }
}
@media only screen and (min-width: 1024px) {
  .resto-card__heart.menu__heart .full-heart,
.resto-card__heart.menu__heart .empty-heart {
    right: 25%;
  }
}
@media only screen and (min-width: 1440px) {
  .resto-card__heart.menu__heart .full-heart,
.resto-card__heart.menu__heart .empty-heart {
    right: 35%;
  }
}
.loader-wrapper {
  background: white;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  animation: loadingscreen 0.1s linear 3s forwards;
  cursor: wait;
}

@media only screen and (min-width: 1800px) {
  .loader-wrapper {
    width: 1800px;
  }
}
.loader-wrapper > i {
  color: #9356dc;
  font-size: 2em;
  position: absolute;
}

.loading-spinner {
  position: relative;
  width: 10em;
  height: 10em;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #99e2d0;
  animation: loadcircle 3s linear 0s infinite;
}

.loading-spinner:before {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #9356dc;
  animation: loadcircle 3s linear 0s infinite;
}

.loading-spinner:after {
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #ff79da;
  animation: loadcircle 3s linear 0s infinite;
}

.section-search {
  display: flex;
  flex-direction: column;
}

.section-search__location {
  height: 50px;
  background-color: #e8e8e8;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .section-search__location span {
    padding: 1em;
  }
}
.section-search__info {
  height: 280px;
  text-align: center;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

@media only screen and (min-width: 1024px) {
  .section-search__info {
    padding: 0;
  }
}
.section-search__info h2 {
  letter-spacing: -0.8px;
}

@media only screen and (min-width: 768px) {
  .section-search__info h2 > br {
    display: none;
  }
}
.section-search__info p {
  width: 90%;
  font-size: 1.125em;
  opacity: 0.75;
  padding: 4% 0 7% 0;
}

@media only screen and (min-width: 1024px) {
  .section-search__info p {
    padding: 2% 0 3% 0;
  }
}
.section-fonction {
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 8%;
}

.section-fonction h2 {
  width: 90%;
  letter-spacing: -0.8px;
}

@media only screen and (min-width: 768px) {
  .section-fonction {
    justify-content: space-around;
  }
  .section-fonction h2 {
    text-align: center;
  }
}
@media only screen and (min-width: 1024px) {
  .section-fonction {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0;
    height: 30vh;
  }
}
@media only screen and (min-width: 1440px) {
  .section-fonction {
    padding: 0 2% 0 2%;
    height: 25vh;
  }
}
.section-restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5%;
  background-color: #f5f5f5;
  padding-bottom: 3.5rem;
}

.section-restaurant h2 {
  width: 90%;
  margin-top: 15%;
  margin-bottom: 5%;
  letter-spacing: -0.8px;
}

@media only screen and (min-width: 768px) {
  .section-restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .section-restaurant h2 {
    text-align: center;
    margin-top: 3%;
  }
}
@media only screen and (min-width: 1024px) {
  .section-restaurant {
    padding-bottom: 0;
  }
}
.resto-card {
  width: 90%;
  height: 15.6em;
  border-radius: 15px;
  box-shadow: 0 7px 11px 1px rgb(207, 205, 207);
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.resto-card a {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  transition: all 0.5s;
}

.resto-card a:hover {
  transform: scale(3);
  box-shadow: 0 7px 11px 2px rgb(147, 146, 146);
}

.resto-card img {
  border-radius: 15px 15px 0 0;
  height: 70%;
  object-fit: cover;
}

.resto-card .new {
  width: 5em;
  height: 2em;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.6em;
  display: table;
  text-align: center;
  border-radius: 3px;
  background-color: #99e2d0;
  color: #299077;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-15%, 50%);
}

.resto-card .new span {
  vertical-align: middle;
  display: table-cell;
}

.resto-card__footer {
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 0 0 15px 15px;
}

.resto-card__footer__txt {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-right: 8%;
}

.resto-card__footer__txt p {
  font-weight: 600;
  font-size: 1.125em;
}

@media only screen and (min-width: 768px) {
  .resto-card {
    width: 40%;
  }
}
@media only screen and (min-width: 1024px) {
  .resto-card {
    width: 35%;
  }
}
@media only screen and (min-width: 1440px) {
  .resto-card {
    max-width: 20%;
  }
}
@keyframes loadingscreen {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loadcircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu__main img {
  height: 260px;
  object-fit: cover;
}

.menu__main {
  animation: apparition 3s ease-in-out forwards;
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.menu__wrapper {
  background-color: #f5f5f5;
}

.menu__header {
  background-color: #f5f5f5;
  border-radius: 45px 45px 0 0;
  padding-top: 2em;
  display: flex;
  transform: translateY(-50%);
}

.menu__header h2 {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
  padding-left: 1em;
}

@media only screen and (min-width: 768px) {
  .menu__header h2 {
    display: flex;
    flex: 2;
    justify-content: center;
  }
}
@media only screen and (min-width: 1024px) {
  .menu__header {
    border-radius: 0;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .menu__header h2 {
    padding-left: 0;
  }
}
.menu__body {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .menu__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  .menu__body {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
.menu-card {
  margin-bottom: 2em;
  position: relative;
}

.menu-card > h4 {
  padding-left: 1.2em;
  margin-bottom: 1.2em;
  font-weight: 200;
}

.menu-card > h4::after {
  content: "";
  position: absolute;
  background-color: #99e2d0;
  width: 10%;
  height: 3px;
  top: 1.5em;
  left: 0;
  transform: translateX(1.2rem);
}

.menu-card article {
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 7px 11px 1px rgb(207, 205, 207);
  cursor: pointer;
  overflow: hidden;
  margin: 1rem;
  opacity: 0;
  animation: transition 1.5s ease-out 0.8s forwards;
}

.menu-card article:hover > .menu-card__select {
  flex: 2;
  opacity: 1;
  width: 60px;
}

.menu-card article:hover > .menu-card__select > span {
  transform: rotate(360deg);
}

.menu-card__content {
  position: relative;
  max-width: 95%;
  height: 60px;
  padding: 0.56rem;
  display: flex;
  gap: 3%;
  flex: 10;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  white-space: nowrap;
}

.menu-card__content p {
  font-weight: bold;
  letter-spacing: 0.02rem;
}

.menu-card__txt-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-card__txt-price p {
  padding-left: 0.3rem;
}

.menu-card__txt-price span {
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-card__select {
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0;
  width: 0;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  transform: rotate(0);
}

.menu-card__select > span {
  color: white;
  transform: rotate(-90deg);
  transition: transform 0.7s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .menu-card {
    width: 70%;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-card {
    width: 45%;
  }
}
@media only screen and (min-width: 1440px) {
  .menu-card {
    width: 28%;
  }
}
.menu__footer {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 3.7rem;
}

@keyframes transition {
  0% {
    margin-bottom: 0;
    opacity: 1;
  }
  100% {
    margin-bottom: 0;
    opacity: 1;
  }
}
footer {
  background-color: #353535;
  color: white;
  height: 12.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  width: 80%;
  font-size: 1.125em;
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 70%;
}

footer div a {
  display: flex;
  align-items: center;
  gap: 3%;
  font-size: 1em;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

footer div a:hover {
  color: #99e2d0;
  cursor: pointer;
}

footer div a i {
  font-size: 0.8em;
}

@media only screen and (min-width: 768px) {
  footer {
    text-align: center;
  }
  footer > p {
    padding-top: 1%;
    font-size: xx-large;
  }
  footer > div {
    flex-direction: row;
  }
  footer > div > a {
    gap: 0;
  }
  footer > div > a > i {
    padding-right: 0.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  footer > div {
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 3%;
  }
  footer > div > a {
    flex-direction: column;
    font-size: large;
  }
  footer > div > a > i {
    padding-bottom: 10px;
    padding-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
