.header-menu button {
    background-color: white;
    font-size: 22px;
    border: none;
    margin-top: 0.8rem;
    cursor: pointer;
  }
  
  .btn-search {
    width: 220px;
    height: 6vh;
    border-radius: 30px;
    border: none;
    font-size: 1em;
    color: white;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    box-shadow: 0 7px 11px 1px $shadow;
    -webkit-box-shadow: 0 7px 11px 1px $shadow;
    -moz-box-shadow: 0 7px 11px 1px $shadow;
    transition: 0.5s ease-in-out;
  }
  
  a{  
    font-family: "Roboto";
    color : white;
  }
   
  .btn-search:hover {
    cursor: pointer;
    filter: brightness(1.5);
    box-shadow: 0 7px 11px 2px rgb(147, 146, 146);
  }
  @media only screen and (min-width: 768px) {
    .btn-search {
      height: 6vh;
    }
  }
  @media only screen and (min-width: 1024px) {
    .btn-search {
      border-radius: 30px;
    }
  }
  